<%- include("partials/header.ejs") %>

  <div class="container">
    <h1>Vegan Recipe Search</h1>
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search for delicious recipes...">
      <button id="searchButton">Search</button>
    </div>

    <div id="results"></div>
  </div>

<%- include("partials/footer.ejs") %>